ADMIN_USER=admin
ADMIN_PASSWORD=change-this-admin-password
PROXY_USERNAME=proxy
PROXY_PASSWORD=change-this-proxy-password
PUBLIC_HOST=
WEB_HOST=127.0.0.1
WEB_PORT=3100
PROXY_LISTEN_ADDRESS=0.0.0.0
PROXY_START_PORT=40000
PROXY_PUBLISHED_LAST_PORT=40100
PROXY_HEALTH_INTERVAL_MS=60000
PROXY_RECOVERY_FAILURES=3
PROXY_RECOVERY_MAX_DELAY_MS=300000
MANAGER_PORT=13000
MANAGER_BIND_ADDRESS=127.0.0.1
